.list {
	padding: 2rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	justify-content: center;
	border: 1px solid gray;
	border-radius: 5px;
	flex-wrap: wrap;
}
.list-style-square {
	list-style: square;
}
.list-style-circle {
	list-style: circle;
}
.list-style-nostyle {
	list-style: none;
}
.list-style-numbered {
	list-style-type: decimal;
}
.list-style-alphabetical {
	list-style-type: lower-alpha;
}
.list-style-roman {
	list-style-type: lower-roman;
}
.list-item {
	font-size: 1.4rem;
}
.list-inline {
	display: flex;
	flex-direction: row;
	gap: 3rem;
}
